In [1]:
from headers import *

In [2]:
import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio

In [3]:
df = pd.read_excel("input_df.xlsx")
df.index.name = "index"
df.head(10)

,pass_ID,scenario,time_crit,now_ivt_4,now_ivt_3,wait_ivt_3,wait_ivt_2,WT_time,output_choice
index,,,,,,,,,
0,1,1,1,0,20,0,20,10,0
1,1,2,1,0,20,0,20,5,1
2,1,3,1,20,0,20,0,10,0
3,1,4,1,20,0,20,0,5,1
4,1,5,1,20,0,0,20,10,0
5,1,6,1,20,0,0,20,5,1
6,2,1,1,0,15,0,15,10,0
7,2,2,1,0,15,0,15,5,0
8,2,3,1,15,0,15,0,10,0
9,2,4,1,15,0,15,0,5,0

In [4]:
df['B_cr4first'] = [1 if x > 0 else 0 for x in df['now_ivt_4']]
df['B_cr3first'] = [1 if x > 0 else 0 for x in df['now_ivt_3']]
df['B_cr3second'] = [1 if x > 0 else 0 for x in df['wait_ivt_3']]
df['B_cr2second'] = [1 if x > 0 else 0 for x in df['wait_ivt_2']]
df['IVT_time'] = df[['now_ivt_4','now_ivt_3']].max(axis=1)
df_used = df[['pass_ID','scenario','time_crit','B_cr4first','B_cr3first','B_cr3second','B_cr2second','IVT_time','WT_time','output_choice']]
df_used.head(20)

,pass_ID,scenario,time_crit,B_cr4first,B_cr3first,B_cr3second,B_cr2second,IVT_time,WT_time,output_choice
index,,,,,,,,,,
0,1,1,1,0,1,0,1,20,10,0
1,1,2,1,0,1,0,1,20,5,1
2,1,3,1,1,0,1,0,20,10,0
3,1,4,1,1,0,1,0,20,5,1
4,1,5,1,1,0,0,1,20,10,0
5,1,6,1,1,0,0,1,20,5,1
6,2,1,1,0,1,0,1,15,10,0
7,2,2,1,0,1,0,1,15,5,0
8,2,3,1,1,0,1,0,15,10,0
9,2,4,1,1,0,1,0,15,5,0
10,2,5,1,1,0,0,1,15,10,0
11,2,6,1,1,0,0,1,15,5,0
12,3,1,1,0,1,0,1,15,10,0
13,3,2,1,0,1,0,1,15,5,0
14,3,3,1,1,0,1,0,15,10,0
15,3,4,1,1,0,1,0,15,5,1
16,3,5,1,1,0,0,1,15,10,0
17,3,6,1,1,0,0,1,15,5,1
18,4,1,1,0,1,0,1,30,10,0
19,4,2,1,0,1,0,1,30,5,0

## Model 01 - general model with ASC (Pr_2017)
### dep1 = [ASC_first]
### dep2 = [ASC_second] + [B_cr4_first] * s1 + [B_cr3_first] * s2 + [B_cr3_second] * s3 + [B_cr2_second] * s4 + [B_timecrit] * s5 + [B_ivt] * ivt + [B_wt] * wt

In [5]:
# create Biogeme database
database = db.Database("RTCI_SP_surveys",df_used)

In [6]:
# coefficients
ASC_FIRST = Beta('ASC_FIRST',0,None,None,1)
ASC_SECOND = Beta('ASC_SECOND',0,None,None,0)
BETA_timecrit = Beta('BETA_timecrit',0,None,None,0)
BETA_CR4_first = Beta('BETA_CR4_first',0,None,None,0)
BETA_CR3_first = Beta('BETA_CR3_first',0,None,None,0)
BETA_CR3_second = Beta('BETA_CR3_second',0,None,None,0)
BETA_CR2_second = Beta('BETA_CR2_second',0,None,None,0)
BETA_IVT = Beta('BETA_IVT',0,None,None,0)
BETA_WT = Beta('BETA_WT',0,None,None,0)

# variables
s1 = time_crit 
s2 = B_cr4first 
s3 = B_cr3first 
s4 = B_cr3second 
s5 = B_cr2second 
ivt = IVT_time 
wt = WT_time 

# utilities
V1 = ASC_FIRST

V2 = ASC_SECOND + \
     BETA_timecrit * s1 + \
     BETA_CR4_first * s2 + \
     BETA_CR3_first * s3 + \
     BETA_CR3_second * s4 + \
     BETA_CR2_second * s5 + \
     BETA_IVT * ivt + \
     BETA_WT * wt

# Associate utility functions with the numbering of alternatives
V = {0: V1,
     1: V2}

# Associate the availability conditions with the alternatives
av = {0: 1,
      1: 1}

In [7]:
logprob = bioLogLogit(V,av,output_choice)
biogeme  = bio.BIOGEME(database,logprob)
biogeme.modelName = "logit_007_01_general_model"

results = biogeme.estimate()

# Print the estimated values
betas = results.getBetaValues()
for k,v in betas.items():
    print(f"{k}=\t{v:.3g}")

# Get the results in a pandas table
pandasResults = results.getEstimatedParameters()
print(pandasResults)

ASC_SECOND=	0.754
BETA_CR2_second=	0.414
BETA_CR3_first=	-0.678
BETA_CR3_second=	0.34
BETA_CR4_first=	1.43
BETA_IVT=	0.0278
BETA_WT=	-0.275
BETA_timecrit=	-1.56
                    Value   Std err     t-test       p-value  Rob. Std err  \
ASC_SECOND       0.753754  0.095575   7.886519  3.108624e-15      0.097489
BETA_CR2_second  0.414201  0.069792   5.934763  2.942705e-09      0.070205
BETA_CR3_first  -0.677508  0.082887  -8.173895  2.220446e-16      0.083688
BETA_CR3_second  0.339554  0.080529   4.216515  2.481063e-05      0.080872
BETA_CR4_first   1.431263  0.081219  17.622196  0.000000e+00      0.081768
BETA_IVT         0.027803  0.004338   6.409666  1.458387e-10      0.004869
BETA_WT         -0.275226  0.020846 -13.203138  0.000000e+00      0.020810
BETA_timecrit   -1.561388  0.105993 -14.731109  0.000000e+00      0.106166

                 Rob. t-test  Rob. p-value
ASC_SECOND          7.731661  1.065814e-14
BETA_CR2_second     5.899871  3.637857e-09
BETA_CR3_first     -8.095616  6.661338e-16
BETA_CR3_second     4.198674  2.684820e-05
BETA_CR4_first     17.504053  0.000000e+00
BETA_IVT            5.710074  1.129268e-08
BETA_WT           -13.225961  0.000000e+00
BETA_timecrit     -14.707090  0.000000e+00